{% extends 'base.html.twig' %}

{% block title %}Page d'accueil - CalculAge !{% endblock %}

{% block body %}

<div class="container text-center">

    <h1>Bravo {{nom}} &#128077</h1>

    <hr>

    <p class="text-center h2 font-weight-light">
    Vous avez {{calc}} ans.
    </p>

</div>

{% endblock %}
