{% extends 'base.html.twig' %}

{% block title %}Page de contact - CalculAge !{% endblock %}

{% block body %}

<div class="container">

    <h1>Pour nous contacter !</h1>

    {{form(formCon)}}

</div>

{% endblock %}
